# **Configurando**
Realizando importações das bibliotecas utilizadas durante a análise exploratória

In [15]:
import pandas as pd

Lendo Datasets de Movies e Ratings

In [16]:
df_movies = pd.read_csv("../../data/movies/movies.csv")
df_ratings = pd.read_csv("../../data/movies/ratings.csv")

In [17]:
print("Movies Dataset:\n")
print(df_movies.head())
print("Ratings Dataset:\n")
print(df_ratings)

Movies Dataset:

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short            Poor Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult startYear endYear runtimeMinutes                    genres
0        0      1894      \N              1         Documentary,Short
1        0      1892      \N              5           Animation,Short
2        0      1892      \N              5  Animation,Comedy,Romance
3        0      1892      \N             12           Animation,Short
4        0      1893      \N              1                     Short
Ratings Dataset:

            tconst  averageRating  numVotes
0        tt0000001            5.7      2183
1        tt0000002            5.5       303
2        tt0000003            6.4      2263
3        tt0000004            5.2       195
4        tt0000005            6.2      3002
...            ...            ...       ...
1633027  tt9916846            5.3         7
1633028  tt9916848            5.2         7
1633029  tt9916850            6.0         7
1633030  tt9916852            5.7         7
1633031  tt9916880            7.7        10

[1633032 rows x 3 columns]

# **Estruturando em um único Dataset**
Adicionado ao dataset Movies as features averageRating e numVotes

In [29]:
Dataset = pd.merge(df_movies, df_ratings[['tconst', 'averageRating', 'numVotes']], on='tconst', how='left')
print(Dataset.head())

      tconst titleType            primaryTitle           originalTitle  \
0  tt0000001     short              Carmencita              Carmencita
1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
2  tt0000003     short            Poor Pierrot          Pauvre Pierrot
3  tt0000004     short             Un bon bock             Un bon bock
4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

   isAdult startYear endYear runtimeMinutes                    genres  \
0        0      1894      \N              1         Documentary,Short
1        0      1892      \N              5           Animation,Short
2        0      1892      \N              5  Animation,Comedy,Romance
3        0      1892      \N             12           Animation,Short
4        0      1893      \N              1                     Short

   averageRating  numVotes
0            5.7    2183.0
1            5.5     303.0
2            6.4    2263.0
3            5.2     195.0
4            6.2    3002.0

# **Explorando Features do Dataset**

Vendo os tipos de cada feature

In [19]:
print(Dataset.dtypes)

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear          object
endYear            object
runtimeMinutes     object
genres             object
averageRating     float64
numVotes          float64
dtype: object

Eliminando tconst por se tratar apenas de id do IMDB

In [20]:
Dataset.drop('tconst', axis=1, inplace=True)
print(Dataset)

          titleType               primaryTitle              originalTitle  \
0             short                 Carmencita                 Carmencita
1             short     Le clown et ses chiens     Le clown et ses chiens
2             short               Poor Pierrot             Pauvre Pierrot
3             short                Un bon bock                Un bon bock
4             short           Blacksmith Scene           Blacksmith Scene
...             ...                        ...                        ...
11949941  tvEpisode              Episode #3.17              Episode #3.17
11949942  tvEpisode              Episode #3.19              Episode #3.19
11949943  tvEpisode              Episode #3.20              Episode #3.20
11949944      short                   The Wind                   The Wind
11949945  tvEpisode  Horrid Henry Knows It All  Horrid Henry Knows It All

          isAdult startYear endYear runtimeMinutes  \
0               0      1894      \N              1
1               0      1892      \N              5
2               0      1892      \N              5
3               0      1892      \N             12
4               0      1893      \N              1
...           ...       ...     ...            ...
11949941        0      2009      \N             \N
11949942        0      2010      \N             \N
11949943        0      2010      \N             \N
11949944        0      2015      \N             27
11949945        0      2014      \N             10

                              genres  averageRating  numVotes
0                  Documentary,Short            5.7    2183.0
1                    Animation,Short            5.5     303.0
2           Animation,Comedy,Romance            6.4    2263.0
3                    Animation,Short            5.2     195.0
4                              Short            6.2    3002.0
...                              ...            ...       ...
11949941                       Drama            5.2       7.0
11949942                       Drama            6.0       7.0
11949943                       Drama            5.7       7.0
11949944                       Short            NaN       NaN
11949945  Adventure,Animation,Comedy            7.7      10.0

[11949946 rows x 10 columns]

Analisando o que tem em cada coluna

In [ ]:
for col in Dataset.columns:
    print(f"\nColuna: {col}")
    print(Dataset[col].unique())

Coluna: titleType
['short' 'movie' 'tvShort' 'tvMovie' 'tvEpisode' 'tvSeries' 'tvMiniSeries'
 'tvSpecial' 'video' 'videoGame' 'tvPilot']

Coluna: primaryTitle
['Carmencita' 'Le clown et ses chiens' 'Poor Pierrot' ... 'Luc Janssens'
 "Horrid Henry's Comic Caper" 'Horrid Henry Knows It All']

Coluna: originalTitle
['Carmencita' 'Le clown et ses chiens' 'Pauvre Pierrot' ... 'Luc Janssens'
 "Horrid Henry's Comic Caper" 'Horrid Henry Knows It All']

Coluna: isAdult
[   0    1 2019 1981 2020 2017 2023 2022 1977 1978 1979 1966 1970 1971
 1972 1973 1974 1975 1988 1980 1987 1986 1982 1985 1983 1984 1976 1968
 1969 2024 1967 1965 1958 2025 2014 2005]

Coluna: startYear
['1894' '1892' '1893' '1895' '1896' '1898' '1897' '1900' '1899' '1901'
 '1902' '1903' '1904' '1905' '1912' '1907' '1906' '1908' '1910' '1909'
 '\\N' '1911' '1990' '1914' '1913' '1915' '1919' '1916' '1917' '1918'
 '1936' '1925' '1922' '1920' '1921' '1923' '1924' '1928' '2019' '1926'
 '1927' '1929' '1993' '1935' '1930' '1942' '1934' '1931' '1939' '1932'
 '1937' '1933' '1950' '1938' '1951' '1945' '1946' '1940' '1944' '1949'
 '1947' '1941' '1952' '1970' '1957' '1943' '1959' '1948' '2001' '1953'
 '1954' '1965' '1983' '1980' '2025' '1973' '1961' '1995' '1958' '1955'
 '1964' '1956' '1962' '1960' '1977' '2012' '1967' '1968' '2007' '1963'
 '1971' '1986' '1969' '1972' '1966' '2021' '2023' '1976' '2016' '2020'
 '1979' '1974' '1978' '1981' '1988' '1975' '2014' '1989' '1985' '1987'
 '2010' '2018' '1996' '1984' '1992' '2022' '1982' '1991' '1994' '2008'
 '2002' '1999' '2005' '2003' '1998' '1997' '2009' '2004' '2017' '2000'
 '2024' '2013' '2006' '2015' '2011' '1891' '1888' '1890' '2026' '1889'
 '2027' '2032' '2029' '1878' '2028' '1882' '1881' '2030' '1887' '1874'
 '2031' '1883' '1885']

Coluna: endYear
['\\N' '1947' '1945' '1955' '1949' '1958' '1951' '1950' '1952' '1954'
 '1957' '1953' '1956' '1967' '1971' '1959' '1963' '1960' '1961' '1965'
 '1980' '2014' '1986' '1962' '1972' '1966' '1970' '2009' '1978' '1973'
 '1993' '1968' '1997' '1974' '1992' '1976' '1975' '1982' '2010' '1984'
 '1964' '1989' '1969' '1994' '2024' '2004' '1981' '2003' '1999' '1988'
 '1985' '1977' '1987' '2001' '2013' '1996' '2011' '2005' '1995' '1979'
 '2006' '1983' '1990' '1998' '2016' '2008' '1991' '2020' '2023' '2007'
 '2025' '2015' '2000' '2019' '2002' '2017' '2021' '2018' '2012' '2022'
 '1948' '1938' '1942' '2026' '1933' '45' '30' '1944' '1946' '1937' '2028'
 '1941' '2027' '2030' '2029' '3' '1928' '1930' '1934' '2032' '1939' '1932']

Coluna: runtimeMinutes
['1' '5' '12' '45' '2' '\\N' '3' '100' '13' '6' '4' '14' '40' '11' '9'
 '10' '15' '21' '16' '8' '7' '24' '17' '70' '90' '20' '25' '120' '36' '18'
 '30' '19' '44' '38' '58' '22' '33' '50' '34' '28' '35' '42' '23' '51'
 '52' '92' '60' '56' '26' '53' '31' '41' '48' '47' '68' '29' '71' '43'
 '46' '27' '32' '76' '113' '55' '150' '300' '121' '89' '37' '69' '54' '64'
 '96' '49' '61' '39' '101' '57' '99' '110' '83' '88' '86' '170' '63' '72'
 '78' '75' '450' '148' '80' '124' '220' '59' '112' '1428' '84' '65' '74'
 '105' '310' '73' '82' '81' '199' '139' '109' '85' '67' '219' '195' '440'
 '77' '293' '97' '79' '62' '66' '250' '421' '360' '180' '93' '163' '400'
 '95' '165' '116' '320' '125' '127' '138' '460' '350' '374' '480' '330'
 '87' '130' '108' '600' '240' '117' '410' '135' '146' '104' '418' '106'
 '242' '223' '489' '102' '200' '98' '119' '122' '115' '207' '166' '238'
 '111' '145' '143' '131' '243' '133' '172' '167' '103' '94' '206' '91'
 '157' '107' '248' '235' '184' '118' '114' '380' '128' '155' '137' '183'
 '210' '136' '417' '141' '162' '153' '129' '123' '151' '182' '140' '359'
 '126' '132' '260' '230' '168' '160' '144' '159' '185' '156' '215' '177'
 '213' '149' '225' '147' '266' '152' '217' '158' '226' '134' '194' '216'
 '227' '231' '218' '246' '281' '208' '228' '229' '212' '236' '306' '257'
 '245' '197' '255' '142' '323' '305' '328' '176' '232' '258' '256' '303'
 '308' '224' '294' '268' '204' '298' '299' '264' '211' '302' '263' '265'
 '205' '154' '237' '285' '269' '267' '247' '186' '241' '289' '283' '290'
 '270' '251' '278' '196' '279' '261' '275' '280' '244' '189' '169' '284'
 '295' '201' '221' '192' '252' '171' '287' '361' '175' '174' '179' '173'
 '315' '190' '164' '239' '178' '161' '181' '188' '497' '327' '317' '191'
 '209' '434' '234' '288' '438' '393' '378' '316' '340' '203' '253' '344'
 '540' '476' '451' '321' '348' '890' '309' '653' '431' '390' '193' '202'
 '187' '370' '396' '282' '286' '763' '770' '311' '500' '373' '596' '750'
 '273' '442' '599' '333' '614' '385' '780' '510' '271' '274' '262' '420'
 '291' '366' '222' '742' '676' '673' '358' '301' '233' '198' '752' '504'
 '720' '520' '436' '313' '413' '700' '391' '428' '437' '416' '367' '566'
 '569' '371' '376' '870' '312' '407' '331' '375' '353' '357' '873' '1290'
 '345' '318' '335' '624' '272' '567' '606' '214' '384' '501' '834' '254'
 '355' '522' '276' '439' '314' '515' '620' '528' '341' '568' '571' '556'
 '386' '383' '650' '343' '277' '698' '401' '377' '672' '465' '622' '296'
 '1352' '1320' '395' '583' '665' '339' '415' '351' '1620' '388' '325'
 '336' '455' '554' '612' '616' '349' '659' '458' '426' '660' '1500' '475'
 '778' '1080' '485' '495' '382' '1800' '577' '1440' '307' '2800' '491'
 '338' '840' '406' '776' '369' '297' '445' '347' '960' '615' '392' '663'
 '693' '580' '425' '544' '5220' '259' '464' '545' '640' '304' '446' '372'
 '629' '678' '1300' '352' '689' '793' '2925' '608' '2880' '1170' '0' '462'
 '1965' '701' '657' '249' '346' '468' '1970' '551' '1260' '1020' '1200'
 '646' '459' '579' '820' '704' '630' '408' '402' '715' '514' '1664' '1215'
 '625' '1710' '1035' '550' '1370' '1350' '1410' '1380' '326' '1100' '730'
 '364' '516' '705' '1196' '443' '765' '2001' '1000' '2002' '502' '8400'
 '541' '2000' '1999' '594' '414' '652' '1997' '1040' '1442' '598' '354'
 '526' '334' '487' '1773' '1932' '466' '4800' '363' '3900' '2150' '900'
 '552' '381' '527' '636' '575' '322' '519' '324' '379' '530' '412' '506'
 '547' '800' '2007' '441' '719' '429' '1441' '490' 'Reality-TV' '784'
 '342' '484' '387' '319' '456' '474' '422' '990' '368' '3285' '669' '3300'
 '1400' '10062' '2018' '332' '585' '2160' 'Talk-Show' '623' '525' '337'
 '634' '2004' '570' 'Documentary' '13319' '292' '404' '2020' '409' '478'
 '472' '329' '35791' 'Family,Game-Show' '1444' '479' '471' '28643' '1845'
 '675' '1682' '1445' '362' '1174' '1050' '943' '933' '435' '498' '521'
 '2010' '1099' '483' '668' '785' '499' '6000' '449' '496' '518' '1470'
 '539' '702' '399' '670' '712' '619' '959' '512' '448' '559' '736' '470'
 '444' '405' '830' '883' '454' '432' '457' '467' '447' '453' '942' '452'
 '3087' '430' '593' '365' '503' '602' '481' '586' '397' '1452' '1554'
 '542' '850' '562' '2580' '961' '641' '964' '2520' '885' '1268' '1134'
 '691' '403' '1873' '1860' '572' '783' '509' '2021' '553' '494' '711'
 '901' '930' '546' '950' '482' '7200' '427' '3720' '1973' '493' '398'
 '3000' '1560' '1680' '394' '508' '356' '605' '680' '1568' '751' '5700'
 '590' '845' '717' '998' '853' '2400' '1669' '558' '1210' '771' '655'
 '865' '588' '488' '695' '970' '12000' '463' '565' '642' '469' '2252'
 '1700' '2460' '899' '842' '9000' '613' '411' '696' '758' '803' '1234'
 '610' '582' '645' '461' '707' '473' '810' '1005' '578' '14400'
 'News,Talk-Show' '1087' '1140' '912' 'Comedy,News,Talk-Show' '1415'
 '1026' '709' '532' '1504' '536' '741' '424' '584' '703' '1034' '486'
 '685' '560' 'Adult' '505' '17280' '59460' '852' '632' '535' '1584'
 '11541' '764' '1044' '723' '654' '1262' '537' '1011' '948' '1084' '1002'
 '1421' 'Fantasy,Horror,Mystery' '1349' '799' '1464' '999' '910' '819'
 '37440' '904' 'Action,Fantasy,Horror' 'Action,Horror,Mystery' '1784'
 '2005' '2030' '913' '2027' 'Action,Adventure,Drama' '871' '1576' '1229'
 '661' '1060' '920' 'Music' '587' '744' '869' '884' '777' '679' '792'
 '557' '940' '1056' '2695' '2867' '1511' '1663' '1175' '972' '833' '389'
 '847' '893' '965' '856' '1384' '1209' '2840' '1143' '874' '529' '1557'
 '781' '924' '534' '786' '791' '716' '768' '477' '607' '1763' '1657'
 '1052' '1339' '643' '626' '1096' 'Drama,Fantasy,Horror' '4050' '1155'
 'Comedy,Fantasy,Horror' '507' '699' '564' '517' 'Drama,Horror,Mystery'
 '1536' '592' '710' '1840' '886' 'Comedy,Horror,Mystery' '725' '1411'
 '595' '735' '1235' '1716' '2288' '740' '523' '753' '667' '826' '555'
 '656' '597' '543' '27225' '1030' '2610' '1890' '3500' '734' '2261' '603'
 '2887' '4053' '3666' '3776' '1552' '911' '794' '1600' '611' '844' '1270'
 '492' '644' '574' '3077' '419' '43200' 'Action' '936' '747'
 'Game-Show,Reality-TV' '1008' '1285' '2565' '1495' '1151' '549' '1644'
 '627' '1207' '714' '3240' '2905' '5460' '1068' '433' '684' '662' '1559'
 '958' '914' '1616' '2070' '923' '789' '4162' '3825' '697' '1228' '2015'
 '773' '1439' '1329' '1416' '548' '954' '5760' '3692080' '746' '1184'
 '1179' '423' '6834' '51420' '531' '601' '1750' '808' '1755' '1980' '2112'
 '690' '755' '721' '795' '3600' '2088']

Coluna: genres
['Documentary,Short' 'Animation,Short' 'Animation,Comedy,Romance' ...
 'Adult,Short,Thriller' 'Biography,Crime,Fantasy'
 'Musical,Reality-TV,Talk-Show']

Coluna: averageRating
[ 5.7  5.5  6.4  5.2  6.2  5.   5.3  6.8  7.4  7.1  6.1  5.9  4.6  4.8
  4.7  5.1  3.7  4.1  5.6  4.9  5.4  4.4  4.2  6.7  3.1  3.9  3.8  4.
  3.6  2.9  2.8  3.5  6.9  3.3  3.2  3.   6.3  4.5  4.3  6.   2.7  2.5
  nan  3.4  2.6  6.5  6.6  5.8  8.1  7.2  7.3  7.7  2.   7.8  7.5  7.
  7.9  8.8  8.7  8.3  7.6  8.5  9.   8.6  9.1  8.2  2.1  2.4  8.   2.2
  1.8  1.9  8.4  9.3  1.6  1.7  1.   2.3  1.2  1.3  1.1  8.9  1.5  9.2
  9.4  9.5  9.7  9.6  9.8  1.4  9.9 10. ]

Coluna: numVotes
[  2183.    303.   2263. ...  49632. 153152.  21941.]

Subdividir a feature categorica 'titleType' em várias features binarias atráves do One Hoting Encode

In [30]:
Dataset = pd.get_dummies(Dataset, columns=['titleType'], prefix='', prefix_sep='')
print(Dataset.dtypes)

tconst             object
primaryTitle       object
originalTitle      object
isAdult             int64
startYear          object
endYear            object
runtimeMinutes     object
genres             object
averageRating     float64
numVotes          float64
movie                bool
short                bool
tvEpisode            bool
tvMiniSeries         bool
tvMovie              bool
tvPilot              bool
tvSeries             bool
tvShort              bool
tvSpecial            bool
video                bool
videoGame            bool
dtype: object

Checando conteúdo dos titulos

In [ ]:
total = len(Dataset)
dif = Dataset['primaryTitle'] != Dataset['originalTitle']
dif_count = dif.sum()
print(f"Diferentes: {dif_count} de {total} ({dif_count/total:.2%})")
diferentes = Dataset[dif]
print(diferentes[['primaryTitle', 'originalTitle']])

Diferentes: 169572 de 11949946 (1.42%)
                                         primaryTitle  \
2                                        Poor Pierrot
9                                 Leaving the Factory
11                             The Arrival of a Train
12        The Photographical Congress Arrives in Lyon
13                                The Waterer Watered
...                                               ...
11949601                            The Taste Is Mine
11949622                                The Rehearsal
11949715                                        Coven
11949747                          The Secret of China
11949845                                       Eugène

                                              originalTitle
2                                            Pauvre Pierrot
9                       La sortie de l'usine Lumière à Lyon
11                         L'arrivée d'un train à La Ciotat
12        Le débarquement du congrès de photographie à Lyon
13                                        L'arroseur arrosé
...                                                     ...
11949601                                        Mucho gusto
11949622                                           O Ensaio
11949715                                           Akelarre
11949747                       Hong xing zhao yao Zhong guo
11949845                                           Evgenios

[169572 rows x 2 columns]

São só nomes populares e os nomes originais do filme, pode ser retirado.
Então vamos retirar a coluna 'primaryTitle'

In [ ]:
Dataset.drop('primaryTitle', axis=1, inplace=True)
print(Dataset.head())