# Exercícios Básicos e pandas
Este notebook contém uma série de exercícios separados por blocos. Cada seção traz enunciados em células Markdown e, em seguida, uma célula de código em branco para sua solução.

> Dica: Crie um `DataFrame` de exemplo e teste os métodos. Evite pular de seção sem tentar executar algo prático.

## 1) séries e objetos básicos


1. crie uma `pd.Series` a partir de uma lista `[10, 20, 30]` e verifique `dtype`.

In [100]:
import pandas as pd

In [101]:
lista = pd.DataFrame([10,20,30])

In [102]:
lista

    0
0  10
1  20
2  30

In [103]:
series1 = pd.Series([10,20,30])

In [104]:
print (series1.dtype)

int64

In [105]:
for i in series1:
    print (i)

10
20
30

In [106]:
dados = [10,20,30]

In [107]:
series1

0    10
1    20
2    30
dtype: int64

In [108]:
indices = ['a', 'b', 'c']

2. defina índices personalizados `['a','b','c']` para a série do exercício anterior.

In [109]:
series1 = pd.Series(dados, index = indices)

In [110]:
series1

a    10
b    20
c    30
dtype: int64

In [111]:
series1[1]

C:\Users\gusta\AppData\Local\Temp\ipykernel_9172\2323916456.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series1[1]

np.int64(20)

In [112]:
series1atualizada = pd.DataFrame(series1)

3. obtenha o valor associado ao índice `'b'`.

In [113]:
series1[1]

C:\Users\gusta\AppData\Local\Temp\ipykernel_9172\2323916456.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series1[1]

np.int64(20)

4. verifique se 20 está presente na série (retorne booleano).

In [114]:
valoresdesejados = [20]
print (series1.isin(valoresdesejados))

a    False
b     True
c    False
dtype: bool

5. some todos os valores da série.

In [115]:
series1.sum()

np.int64(60)

6. calcule média, mínimo e máximo da série.

In [116]:
series1.mean(), series1.max(), series1.min()

(np.float64(20.0), np.int64(30), np.int64(10))

7. converta a série para `float`.

In [117]:
series1 = series1.astype(float)

In [118]:
series1

a    10.0
b    20.0
c    30.0
dtype: float64

8. substitua o valor do índice `'c'` por 35.

In [119]:
#series1[2] = 35
series1 = series1.replace(30, 35)

In [120]:
series1.sum()

np.float64(65.0)

9. Importe a biblioteca numpy (`import numpy as np`) e crie uma series ao aplicar `np.log` à série (tratando possíveis avisos do pandas).

In [121]:
import numpy as np

In [122]:
series2 = pd.Series([10,20,30,40])

In [123]:
with pd.option_context('mode.use_inf_as_na', True):
    series2_log = pd.Series(np.log(series2).dropna())

C:\Users\gusta\AppData\Local\Temp\ipykernel_9172\1588666630.py:1: FutureWarning: use_inf_as_na option is deprecated and will be removed in a future version. Convert inf values to NaN before operating instead.
  with pd.option_context('mode.use_inf_as_na', True):

In [124]:
print(series2_log)

0    2.302585
1    2.995732
2    3.401197
3    3.688879
dtype: float64


10. transforme a série em DataFrame com uma coluna chamada `valor`.

In [125]:
series2 = pd.DataFrame(series2)

In [126]:
series2

    0
0  10
1  20
2  30
3  40

In [127]:
series2 = series2.rename(columns= {0: 'valor'})

## 2) criação de dataframes & I/O

11. crie um `DataFrame` com colunas `['nome','idade']` a partir de um dicionário.

In [128]:
from datetime import datetime

In [129]:

dados = {
    'nome': ['Nelson Rodrigues', 'José de Alencar'],
    'idade': [40, 50],
    'data_Nascimento': [
        datetime(1912, 12, 8),
        datetime(1829,5, 1)                
]
}

In [130]:
dataframe_1 = pd.DataFrame(dados)

In [131]:
print(dataframe_1)

               nome  idade data_Nascimento
0  Nelson Rodrigues     40      1912-12-08
1   José de Alencar     50      1829-05-01

12. leia um CSV simples (`data1.csv` ou crie um usando `StringIO`) e mostre as 3 primeiras linhas.

In [132]:
csv_simples = pd.read_csv('../data/raw/data1.csv', nrows = 3)

In [133]:
print(csv_simples)

   id   nome  idade cidade              email    status  salario departamento  \
0   1    Ana     17     SP    ana@example.com     ativo     4500           TI
1   2  Bruno     22     RJ  bruno@example.com  pendente     5200    Marketing
2   3  Carla     35     BH  carla@example.com     ativo     7000           TI

  categoria produto  valor  preco  nota        data    regiao  vendas  \
0         A      P1    120   49.9   8.5  2025-01-01       Sul      10
1         B      P2     80   29.5   7.2  2025-01-02   Sudeste       7
2         A      P3    200   99.0   9.0  2025-01-03  Nordeste      15

   tempo_resposta
0              34
1              58
2              22

13. salve um DataFrame em CSV sem índice (pode ser o criado no exercício 11).

In [134]:
dataframe_1.to_csv('meudataframe.csv', index= False)

14. leia um arquivo CSV (`data1.csv`) e especifique a coluna `id` como índice.

In [135]:
csv_simples = pd.read_csv('../data/raw/data1.csv', index_col= 'id')

In [136]:
print(csv_simples)

      nome  idade cidade                email    status  salario departamento  \
id
1      Ana     17     SP      ana@example.com     ativo     4500           TI
2    Bruno     22     RJ    bruno@example.com  pendente     5200    Marketing
3    Carla     35     BH    carla@example.com     ativo     7000           TI
4    Diego     28     SP                  NaN   inativo     3000       Vendas
5   Elaine     41    POA   elaine@example.com     ativo     9800    Diretoria
6   Felipe     19     SP   felipe@example.com  pendente     2800      Suporte
7     Gabi     24     RJ     gabi@example.com     ativo     5100    Marketing
8     Hugo     33     BH     hugo@example.com   inativo        0           TI
9     Iris     26     SP  iris[at]example.com     ativo     6100       Vendas
10    João     16    POA     joao@example.com  pendente     2100      Suporte
11   Karen     29     RJ    karen@example.com     ativo     5400           TI
12     Leo     45     BH      leo@example.com     ativo    12000    Diretoria

   categoria produto  valor  preco  nota        data        regiao  vendas  \
id
1          A      P1    120   49.9   8.5  2025-01-01           Sul      10
2          B      P2     80   29.5   7.2  2025-01-02       Sudeste       7
3          A      P3    200   99.0   9.0  2025-01-03      Nordeste      15
4          C      P4     50   15.0   6.1  2025-01-04  Centro-Oeste       4
5          B      P2    350  150.0   9.3  2025-01-05           Sul      20
6          A      P1     60   12.0   5.4  2025-01-06         Norte       3
7          C      P5     90   25.0   7.9  2025-01-07       Sudeste       6
8          B      P3      0    0.0   4.8  2025-01-08      Nordeste       0
9          B      P4    175   75.5   8.1  2025-01-09  Centro-Oeste       9
10         A      P1     40    9.5   5.9  2025-01-10         Norte       2
11         C      P6    130   55.0   8.7  2025-01-11       Sudeste      11
12         A      P7    500  200.0   9.8  2025-01-12      Nordeste      25

    tempo_resposta
id
1               34
2               58
3               22
4              120
5               15
6              180
7               45
8              300
9               60
10             240
11              38
12              12

15. crie um DataFrame com datas usando `pd.date_range` (7 dias) e uma coluna numérica aleatória. Dica: use a função random.randint do numpy.

In [137]:
dftestes = pd.DataFrame(dados)

In [138]:
dftestes

               nome  idade data_Nascimento
0  Nelson Rodrigues     40      1912-12-08
1   José de Alencar     50      1829-05-01

In [139]:
datas = dados['data_Nascimento']
datas = pd.date_range(start='1900-01-01', end= '1980-01-01')

In [140]:
dftestes

               nome  idade data_Nascimento
0  Nelson Rodrigues     40      1912-12-08
1   José de Alencar     50      1829-05-01

16. É possível criar um DataFrame a partir de uma lista dicionários em Python. Crie a menos dois dicionários diferentes, com nomes de colunas em maiúsculo e crie um DataFrame onde cada coluna é um desses dicionários.

In [141]:
dados = [
    {'NOME': 'Lula', 'IDADE': 80, 'CIDADE': 'Ladróns'},
    {'NOME': 'Bolsonaro', 'IDADE': 67, 'CIDADE': 'Burróvski'}]

In [142]:
df3 = pd.DataFrame(dados)
df3

        NOME  IDADE     CIDADE
0       Lula     80    Ladróns
1  Bolsonaro     67  Burróvski

17. Renomeie as colunas para minúsculas do exercício 16 para minúsculas

In [143]:
df3.columns = [col.lower() for col in df3.columns]
df3

        nome  idade     cidade
0       Lula     80    Ladróns
1  Bolsonaro     67  Burróvski

18. altere a ordem das colunas do dataframe.

In [144]:
nova_ordem = ['cidade', 'nome', 'idade']

In [145]:
df3 = df3[nova_ordem]
df3

      cidade       nome  idade
0    Ladróns       Lula     80
1  Burróvski  Bolsonaro     67

19. crie uma coluna derivada: `idade_em_meses = idade * 12` a partir dos dados do exercício 14.

In [146]:
csv_simples['idade_meses'] = csv_simples['idade'] * 12

In [147]:
csv_simples.to_csv('data1_idade_meses.csv')

In [148]:
csv_simples = pd.read_csv('./data1_idade_meses.csv', index_col='id')
print(csv_simples)

      nome  idade cidade                email    status  salario departamento  \
id
1      Ana     17     SP      ana@example.com     ativo     4500           TI
2    Bruno     22     RJ    bruno@example.com  pendente     5200    Marketing
3    Carla     35     BH    carla@example.com     ativo     7000           TI
4    Diego     28     SP                  NaN   inativo     3000       Vendas
5   Elaine     41    POA   elaine@example.com     ativo     9800    Diretoria
6   Felipe     19     SP   felipe@example.com  pendente     2800      Suporte
7     Gabi     24     RJ     gabi@example.com     ativo     5100    Marketing
8     Hugo     33     BH     hugo@example.com   inativo        0           TI
9     Iris     26     SP  iris[at]example.com     ativo     6100       Vendas
10    João     16    POA     joao@example.com  pendente     2100      Suporte
11   Karen     29     RJ    karen@example.com     ativo     5400           TI
12     Leo     45     BH      leo@example.com     ativo    12000    Diretoria

   categoria produto  valor  preco  nota        data        regiao  vendas  \
id
1          A      P1    120   49.9   8.5  2025-01-01           Sul      10
2          B      P2     80   29.5   7.2  2025-01-02       Sudeste       7
3          A      P3    200   99.0   9.0  2025-01-03      Nordeste      15
4          C      P4     50   15.0   6.1  2025-01-04  Centro-Oeste       4
5          B      P2    350  150.0   9.3  2025-01-05           Sul      20
6          A      P1     60   12.0   5.4  2025-01-06         Norte       3
7          C      P5     90   25.0   7.9  2025-01-07       Sudeste       6
8          B      P3      0    0.0   4.8  2025-01-08      Nordeste       0
9          B      P4    175   75.5   8.1  2025-01-09  Centro-Oeste       9
10         A      P1     40    9.5   5.9  2025-01-10         Norte       2
11         C      P6    130   55.0   8.7  2025-01-11       Sudeste      11
12         A      P7    500  200.0   9.8  2025-01-12      Nordeste      25

    tempo_resposta  idade_meses
id
1               34          204
2               58          264
3               22          420
4              120          336
5               15          492
6              180          228
7               45          288
8              300          396
9               60          312
10             240          192
11              38          348
12              12          540

In [149]:
csv_simples = pd.DataFrame(csv_simples)
csv_simples

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
id,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

20. verifique a forma (`shape`) e o tamanho (`size`) do DataFrame.

In [150]:
csv_simples.shape

(12, 17)

In [151]:
csv_simples.size

204

## 3) indexação e seleção (Utilize os dados da coluna 14)

21. selecione apenas a coluna `idade` (como `Series` e como `DataFrame`).

In [152]:
df_idade = pd.read_csv('./data1_idade_meses.csv', index_col='id')
df_idade

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
id,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

In [153]:
df_idade.idade

id
1     17
2     22
3     35
4     28
5     41
6     19
7     24
8     33
9     26
10    16
11    29
12    45
Name: idade, dtype: int64

In [154]:
df = pd.read_csv('./data1_idade_meses.csv')

In [155]:
idade_series = df['idade']
idade_df = df[['idade']]

In [156]:
print(idade_series)
print(idade_df)

0     17
1     22
2     35
3     28
4     41
5     19
6     24
7     33
8     26
9     16
10    29
11    45
Name: idade, dtype: int64
    idade
0      17
1      22
2      35
3      28
4      41
5      19
6      24
7      33
8      26
9      16
10     29
11     45

23. selecione a linda onde o índice é 4 (usando `loc`).

In [157]:
indice4 = df.loc[4]
indice4

id                                 5
nome                          Elaine
idade                             41
cidade                           POA
email             elaine@example.com
status                         ativo
salario                         9800
departamento               Diretoria
categoria                          B
produto                           P2
valor                            350
preco                          150.0
nota                             9.3
data                      2025-01-05
regiao                           Sul
vendas                            20
tempo_resposta                    15
idade_meses                      492
Name: 4, dtype: object

22. selecione linhas pelas posições 0 a 2 (usando `iloc`).

In [158]:
posicoes = df.iloc[0:3]
posicoes

,id,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
0,1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
1,2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
2,3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420

24. selecione um bloco retangular (linhas 1–3, colunas 0–1) com `iloc`.

In [159]:
posicoes = df.iloc[1:4, 0:2]
posicoes

   id   nome
1   2  Bruno
2   3  Carla
3   4  Diego

25. mude o índice do conjunto de dados para a coluna `nome`.

In [160]:
df_teste = pd.read_csv('./data1_idade_meses.csv')
df_teste

,id,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
0,1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
1,2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
2,3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
3,4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
4,5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
5,6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
6,7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
7,8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396
8,9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
9,10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
10,11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
11,12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

In [161]:
df_indice_nome = df_teste.set_index('nome')
df_indice_nome

,id,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
nome,,,,,,,,,,,,,,,,,
Ana,1,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
Bruno,2,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
Carla,3,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
Diego,4,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
Elaine,5,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
Felipe,6,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
Gabi,7,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
Hugo,8,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396
Iris,9,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
João,10,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
Karen,11,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
Leo,12,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

26. resete o índice para o padrão sequencial.

In [162]:
df = df_indice_nome.reset_index()
df

,nome,id,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
0,Ana,1,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
1,Bruno,2,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
2,Carla,3,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
3,Diego,4,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
4,Elaine,5,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
5,Felipe,6,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
6,Gabi,7,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
7,Hugo,8,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396
8,Iris,9,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
9,João,10,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
10,Karen,11,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
11,Leo,12,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

27. selecione linhas por rótulo com **slice** em `loc` (ex.: `'2025-01-01':'2025-01-05'`).

In [163]:
df_index_data = df_teste.set_index('data')
df_index_data

,id,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,regiao,vendas,tempo_resposta,idade_meses
data,,,,,,,,,,,,,,,,,
2025-01-01,1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,Sul,10,34,204
2025-01-02,2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,Sudeste,7,58,264
2025-01-03,3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,Nordeste,15,22,420
2025-01-04,4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,Centro-Oeste,4,120,336
2025-01-05,5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,Sul,20,15,492
2025-01-06,6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,Norte,3,180,228
2025-01-07,7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,Sudeste,6,45,288
2025-01-08,8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,Nordeste,0,300,396
2025-01-09,9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,Centro-Oeste,9,60,312
2025-01-10,10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,Norte,2,240,192
2025-01-11,11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,Sudeste,11,38,348
2025-01-12,12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,Nordeste,25,12,540

In [164]:
df_index_data.index = pd.to_datetime(df_index_data.index)

In [165]:
df_index_data

,id,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,regiao,vendas,tempo_resposta,idade_meses
data,,,,,,,,,,,,,,,,,
2025-01-01,1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,Sul,10,34,204
2025-01-02,2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,Sudeste,7,58,264
2025-01-03,3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,Nordeste,15,22,420
2025-01-04,4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,Centro-Oeste,4,120,336
2025-01-05,5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,Sul,20,15,492
2025-01-06,6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,Norte,3,180,228
2025-01-07,7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,Sudeste,6,45,288
2025-01-08,8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,Nordeste,0,300,396
2025-01-09,9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,Centro-Oeste,9,60,312
2025-01-10,10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,Norte,2,240,192
2025-01-11,11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,Sudeste,11,38,348
2025-01-12,12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,Nordeste,25,12,540

In [166]:
df.set_index('data', inplace= True)

In [167]:
df_slice = df_index_data.loc['2025-01-01': '2025-01-08']

In [168]:
df_slice

,id,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,regiao,vendas,tempo_resposta,idade_meses
data,,,,,,,,,,,,,,,,,
2025-01-01,1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,Sul,10,34,204
2025-01-02,2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,Sudeste,7,58,264
2025-01-03,3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,Nordeste,15,22,420
2025-01-04,4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,Centro-Oeste,4,120,336
2025-01-05,5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,Sul,20,15,492
2025-01-06,6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,Norte,3,180,228
2025-01-07,7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,Sudeste,6,45,288
2025-01-08,8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,Nordeste,0,300,396

28. pegue os 5 maiores valores de uma coluna com `nlargest`.

In [169]:
df_cinco_maiores = df.nlargest(5, columns= 'salario')
df_cinco_maiores

,nome,id,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,regiao,vendas,tempo_resposta,idade_meses
data,,,,,,,,,,,,,,,,,
2025-01-12,Leo,12,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,Nordeste,25,12,540
2025-01-05,Elaine,5,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,Sul,20,15,492
2025-01-03,Carla,3,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,Nordeste,15,22,420
2025-01-09,Iris,9,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,Centro-Oeste,9,60,312
2025-01-11,Karen,11,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,Sudeste,11,38,348

29. Crie um DataFrame contendo apenas as colunas numéricas usando data.select_dtypes(include="number").

In [170]:
df = pd.DataFrame(csv_simples)
df_colunas_numericas = csv_simples.select_dtypes(include= 'number')
df_colunas_numericas

    idade  salario  valor  preco  nota  vendas  tempo_resposta  idade_meses
id
1      17     4500    120   49.9   8.5      10              34          204
2      22     5200     80   29.5   7.2       7              58          264
3      35     7000    200   99.0   9.0      15              22          420
4      28     3000     50   15.0   6.1       4             120          336
5      41     9800    350  150.0   9.3      20              15          492
6      19     2800     60   12.0   5.4       3             180          228
7      24     5100     90   25.0   7.9       6              45          288
8      33        0      0    0.0   4.8       0             300          396
9      26     6100    175   75.5   8.1       9              60          312
10     16     2100     40    9.5   5.9       2             240          192
11     29     5400    130   55.0   8.7      11              38          348
12     45    12000    500  200.0   9.8      25              12          540

30. selecione as linhas em que nota está entre 7 e 9 (inclusive) usando between, retornando apenas as colunas ['nome','nota'].

In [171]:
csv_filtrado_notas = csv_simples[csv_simples['nota'].between(7,9)][['nome', 'nota']]

csv_filtrado_notas

     nome  nota
id
1     Ana   8.5
2   Bruno   7.2
3   Carla   9.0
7    Gabi   7.9
9    Iris   8.1
11  Karen   8.7

## 4) filtragem e condicionais

31. filtre linhas onde `idade >= 18`.

In [172]:
csv_idade_18 = csv_simples[csv_simples['idade'] >= 18][['nome','idade']]
csv_idade_18

      nome  idade
id
2    Bruno     22
3    Carla     35
4    Diego     28
5   Elaine     41
6   Felipe     19
7     Gabi     24
8     Hugo     33
9     Iris     26
11   Karen     29
12     Leo     45

32. crie um filtro composto: `idade > 18` **e** `cidade == 'SP'`.

In [173]:
csv_idade_cidade = csv_simples[(csv_simples['idade'] >= 18) & (csv_simples['cidade'] == 'SP')] [['nome', 'idade', 'cidade']]
csv_idade_cidade

      nome  idade cidade
id
4    Diego     28     SP
6   Felipe     19     SP
9     Iris     26     SP

33. use `isin` para manter apenas linhas com `status` em `['ativo','pendente']`.

In [174]:
csv_is_in = csv_simples[csv_simples['status'].isin(['ativo','pendente'])]
csv_is_in

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
id,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540

34. filtre linhas com valores nulos em `email`.

In [175]:
csv_email_null = csv_simples[csv_simples['email'].isnull()]
csv_email_null

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
id,,,,,,,,,,,,,,,,,
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336

35. filtre linhas que **não** contêm `'@'` em `email` usando `str.contains` com `na=False`.

In [176]:
df_sem_arroba = csv_simples[csv_simples['email'].str.contains('@', na= False) == False]
df_sem_arroba

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses
id,,,,,,,,,,,,,,,,,
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312

36. crie uma coluna `faixa` com `'adulto'` se `idade>=18`, senão `'menor'` (Dica: tente usar `np.where`).

In [177]:
#np where
csv_simples['faixa'] = np.where(csv_simples['idade'] >=18, 'adulto', 'menor')
csv_simples

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses,faixa
id,,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204,menor
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264,adulto
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420,adulto
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336,adulto
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492,adulto
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228,adulto
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288,adulto
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396,adulto
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312,adulto
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192,menor
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348,adulto
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540,adulto

37. aplique `query` para `salario > 5000 and departamento == "TI"`.

In [178]:
csv_simples.query("salario > 5000 and departamento == 'TI'")

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses,faixa
id,,,,,,,,,,,,,,,,,,
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420,adulto
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348,adulto

38. recorte valores de `nota` para o intervalo 0–10 com `clip`.

In [179]:
csv_simples['nota']= csv_simples['nota'].clip(lower= 0,upper= 10)
csv_simples

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses,faixa
id,,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204,menor
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264,adulto
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420,adulto
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336,adulto
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492,adulto
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228,adulto
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288,adulto
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396,adulto
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312,adulto
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192,menor
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348,adulto
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540,adulto

39. remova outliers de `preco` usando limite IQR simples.

In [180]:
Q1 = csv_simples['preco'].quantile(0.25)
Q3 = csv_simples['preco'].quantile(0.75)
IQR = Q3 - Q1

In [181]:
df_outlier = csv_simples[(csv_simples['preco'] >= Q1 - 1.5 * IQR) & (csv_simples['preco'] <= Q3 + 1.5 * IQR)]
df_outlier

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses,faixa
id,,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204,menor
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264,adulto
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420,adulto
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336,adulto
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492,adulto
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228,adulto
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288,adulto
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396,adulto
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312,adulto
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192,menor
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348,adulto

40. substitua valores negativos por `NaN` em `saldo`.

In [182]:
dataset_saldo = pd.read_csv('../data/raw/data2.csv')
dataframe_saldo = pd.DataFrame(dataset_saldo)
dataframe_saldo

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.9,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,NaN,130.0,NaN,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.2,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.3,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,NaN,150.0,NaN,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.0,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.1,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,NaN,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.0,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.5,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,NaN,6.0,400.0

In [183]:
dataframe_saldo['saldo'] = dataframe_saldo['saldo'].mask(dataframe_saldo['saldo'] < 0, np.nan)
dataframe_saldo

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.9,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,NaN,130.0,NaN,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.2,NaN,NaN
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.3,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,NaN,150.0,NaN,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.0,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.1,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,NaN,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.0,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.5,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,NaN,6.0,400.0

## 5) dados faltantes (use data2.csv)

41. conte `NaN` por coluna com `isna().sum()`.

In [184]:
dataset_saldo = pd.read_csv('../data/raw/data2.csv')
df2 = pd.DataFrame(dataset_saldo)
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.9,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,NaN,130.0,NaN,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.2,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.3,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,NaN,150.0,NaN,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.0,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.1,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,NaN,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.0,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.5,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,NaN,6.0,400.0

In [185]:
df2.isna().sum()

cliente_id         0
data               1
nome               0
cidade             2
cidade_cobranca    3
email              6
status             0
salario            4
valor              3
preco              4
nota               4
saldo              5
dtype: int64

42. remova linhas com qualquer `NaN` (`dropna`).

In [186]:
df2.dropna()

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0

43. preencha `NaN` de uma coluna numérica com a média.

In [187]:
media = df2['salario'].mean()
df2['salario'] = df2['salario'].fillna(media)
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.9,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,5000.0,130.0,NaN,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.2,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.3,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,5000.0,150.0,NaN,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.0,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.1,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,5000.0,100.0,NaN,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.0,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.5,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,5000.0,NaN,NaN,6.0,400.0

44. preencha `NaN` de uma coluna categórica com `'desconhecido'`.

In [188]:
df2['saldo'] = df2['saldo'].fillna('desconhecido')
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.9,8.5,desconhecido
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,5000.0,130.0,NaN,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.2,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.3,9.0,desconhecido
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,5000.0,150.0,NaN,6.1,desconhecido
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.0,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.5,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.1,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,5000.0,100.0,NaN,8.5,desconhecido
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.0,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.5,NaN,desconhecido
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,5000.0,NaN,NaN,6.0,400.0

45. preencha os valores ausentes de preco com a mediana por categoria (use `groupby('categoria')['preco'].transform('median')`).

In [189]:
df2 = pd.DataFrame(csv_simples)
df2['preco'] = df2['preco'].fillna(df2.groupby('categoria')['preco'].transform('median'))
df2

,nome,idade,cidade,email,status,salario,departamento,categoria,produto,valor,preco,nota,data,regiao,vendas,tempo_resposta,idade_meses,faixa
id,,,,,,,,,,,,,,,,,,
1,Ana,17,SP,ana@example.com,ativo,4500,TI,A,P1,120,49.9,8.5,2025-01-01,Sul,10,34,204,menor
2,Bruno,22,RJ,bruno@example.com,pendente,5200,Marketing,B,P2,80,29.5,7.2,2025-01-02,Sudeste,7,58,264,adulto
3,Carla,35,BH,carla@example.com,ativo,7000,TI,A,P3,200,99.0,9.0,2025-01-03,Nordeste,15,22,420,adulto
4,Diego,28,SP,NaN,inativo,3000,Vendas,C,P4,50,15.0,6.1,2025-01-04,Centro-Oeste,4,120,336,adulto
5,Elaine,41,POA,elaine@example.com,ativo,9800,Diretoria,B,P2,350,150.0,9.3,2025-01-05,Sul,20,15,492,adulto
6,Felipe,19,SP,felipe@example.com,pendente,2800,Suporte,A,P1,60,12.0,5.4,2025-01-06,Norte,3,180,228,adulto
7,Gabi,24,RJ,gabi@example.com,ativo,5100,Marketing,C,P5,90,25.0,7.9,2025-01-07,Sudeste,6,45,288,adulto
8,Hugo,33,BH,hugo@example.com,inativo,0,TI,B,P3,0,0.0,4.8,2025-01-08,Nordeste,0,300,396,adulto
9,Iris,26,SP,iris[at]example.com,ativo,6100,Vendas,B,P4,175,75.5,8.1,2025-01-09,Centro-Oeste,9,60,312,adulto
10,João,16,POA,joao@example.com,pendente,2100,Suporte,A,P1,40,9.5,5.9,2025-01-10,Norte,2,240,192,menor
11,Karen,29,RJ,karen@example.com,ativo,5400,TI,C,P6,130,55.0,8.7,2025-01-11,Sudeste,11,38,348,adulto
12,Leo,45,BH,leo@example.com,ativo,12000,Diretoria,A,P7,500,200.0,9.8,2025-01-12,Nordeste,25,12,540,adulto

46. preencha valores ausentes de `preco` usando `interpolate()`.

In [190]:
df2 = pd.DataFrame(dataset_saldo)
df2['preco'] = df2['preco'].interpolate()
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.90,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,NaN,130.0,50.55,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.20,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.30,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,NaN,150.0,51.15,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.00,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.50,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.10,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,30.55,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.00,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.50,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,32.50,6.0,400.0

47. substitua strings vazias `''` por `NaN`.

In [191]:
df2.replace(np.nan , "", inplace= False)

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.90,8.5,
1,101,2025-01-02,Ana,,SP,,pendente,,130.0,50.55,7.2,1000.0
2,101,2025-01-03,Ana,SP,,,ativo,4700.0,,51.20,,-50.0
3,101,2025-01-04,Ana,SP,SP,,inativo,4800.0,140.0,50.30,9.0,
4,101,2025-01-05,Ana,,SP,ana @example.com,ativo,,150.0,51.15,6.1,
5,101,,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.00,,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.50,7.2,0.0
7,202,2025-01-02,Bruno,RJ,,bruno@example.com,pendente,5300.0,90.0,30.10,,200.0
8,202,2025-01-03,Bruno,RJ,RJ,,inativo,,100.0,30.55,8.5,
9,202,2025-01-04,Bruno,RJ,RJ,,ativo,5100.0,,31.00,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.50,,
11,202,2025-01-06,Bruno,RJ,,,ativo,,,32.50,6.0,400.0

In [192]:
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.90,8.5,NaN
1,101,2025-01-02,Ana,NaN,SP,NaN,pendente,NaN,130.0,50.55,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.20,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.30,9.0,NaN
4,101,2025-01-05,Ana,NaN,SP,ana @example.com,ativo,NaN,150.0,51.15,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.00,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.50,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.10,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,30.55,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.00,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.50,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,32.50,6.0,400.0

48. avalie o impacto de `dropna` no tamanho do DataFrame.

In [193]:
df2drop = df2.dropna(axis=1)

In [196]:
df2drop

    cliente_id   nome    status  preco
0          101    Ana     ativo  49.90
1          101    Ana  pendente  50.55
2          101    Ana     ativo  51.20
3          101    Ana   inativo  50.30
4          101    Ana     ativo  51.15
5          101    Ana  pendente  52.00
6          202  Bruno     ativo  29.50
7          202  Bruno  pendente  30.10
8          202  Bruno   inativo  30.55
9          202  Bruno     ativo  31.00
10         202  Bruno  pendente  32.50
11         202  Bruno     ativo  32.50

49. calcule a porcentagem de `NaN` de todo o DataFrame.

In [214]:
total_nulos = df2.isnull().sum().sum()
total_celulas = df2.shape[0] * df2.shape[1]
porcnulos = total_nulos / total_celulas * 100
porcnulos

np.float64(19.444444444444446)

50. preencha `NaN` condicionais: se `cidade` é `NaN`, copie de `cidade_cobranca`.

In [216]:
df2.loc[df2['cidade'].isna(), 'cidade'] = df2['cidade_cobranca']
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.90,8.5,NaN
1,101,2025-01-02,Ana,SP,SP,NaN,pendente,NaN,130.0,50.55,7.2,1000.0
2,101,2025-01-03,Ana,SP,NaN,NaN,ativo,4700.0,NaN,51.20,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.30,9.0,NaN
4,101,2025-01-05,Ana,SP,SP,ana @example.com,ativo,NaN,150.0,51.15,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.00,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.50,7.2,0.0
7,202,2025-01-02,Bruno,RJ,NaN,bruno@example.com,pendente,5300.0,90.0,30.10,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,30.55,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.00,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.50,NaN,NaN
11,202,2025-01-06,Bruno,RJ,NaN,NaN,ativo,NaN,NaN,32.50,6.0,400.0

In [218]:
df2.loc[df2['cidade_cobranca'].isna(), 'cidade_cobranca'] = df2['cidade']
df2

,cliente_id,data,nome,cidade,cidade_cobranca,email,status,salario,valor,preco,nota,saldo
0,101,2025-01-01,Ana,SP,SP,ana@example.com,ativo,4500.0,120.0,49.90,8.5,NaN
1,101,2025-01-02,Ana,SP,SP,NaN,pendente,NaN,130.0,50.55,7.2,1000.0
2,101,2025-01-03,Ana,SP,SP,NaN,ativo,4700.0,NaN,51.20,NaN,-50.0
3,101,2025-01-04,Ana,SP,SP,NaN,inativo,4800.0,140.0,50.30,9.0,NaN
4,101,2025-01-05,Ana,SP,SP,ana @example.com,ativo,NaN,150.0,51.15,6.1,NaN
5,101,NaN,Ana,SP,SP,ana@example.com,pendente,5000.0,160.0,52.00,NaN,500.0
6,202,2025-01-01,Bruno,RJ,RJ,bruno@example.com,ativo,5200.0,80.0,29.50,7.2,0.0
7,202,2025-01-02,Bruno,RJ,RJ,bruno@example.com,pendente,5300.0,90.0,30.10,NaN,200.0
8,202,2025-01-03,Bruno,RJ,RJ,NaN,inativo,NaN,100.0,30.55,8.5,NaN
9,202,2025-01-04,Bruno,RJ,RJ,NaN,ativo,5100.0,NaN,31.00,5.0,300.0
10,202,2025-01-05,Bruno,RJ,RJ,bruno@example.com,pendente,5400.0,110.0,32.50,NaN,NaN
11,202,2025-01-06,Bruno,RJ,RJ,NaN,ativo,NaN,NaN,32.50,6.0,400.0

## 6) agregações & groupby (use data3.csv)

51. calcule a média de `valor` por `categoria` (`groupby` + `mean`).

In [227]:
df3 = pd.read_csv('../data/raw/data3.csv')
df3 = pd.DataFrame(df3)

In [231]:
media_categoria = df3.groupby('categoria')['valor'].mean()
media_categoria

categoria
A    368.582000
B    142.948333
C    175.377500
Name: valor, dtype: float64

52. conte linhas por `categoria` (use `size` ou `count`).

In [232]:
df3.groupby('categoria').size()

categoria
A    5
B    6
C    4
dtype: int64

53. obtenha o `sum`, `min`, `max` de `valor` por `categoria` numa única chamada (`agg`).

In [233]:
df.groupby('categoria')['valor'].agg(['sum', 'min', 'max'])

           sum  min  max
categoria
A          920   40  500
B          605    0  350
C          270   50  130

54. Calcule a média ponderada usando a coluna `peso`.

In [235]:
media_ponderada = (df3['valor'] * df3['peso']).sum() / df3['peso'].sum()
media_ponderada

np.float64(214.02104166666672)

55. Destaque o `max` de pedido_total por cliente

In [237]:
max_por_cliente = df3.groupby('cliente')['pedido_total'].max()
max_por_cliente

cliente
Ana        278.37
Bruno     1352.28
Diego     1113.47
Elaine     201.87
Felipe     201.35
Hugo       461.99
Iris       818.65
Name: pedido_total, dtype: float64

56. crie percentuais: `valor` / soma do grupo.

In [238]:
df3['percentual'] = df3['valor'] / df3.groupby('categoria')['valor'].transform('sum')
df3

,categoria,valor,peso,cliente,pedido_total,produto,nota,turma,data_pedido,regiao,percentual
0,C,354.74,4,Iris,466.29,P4,6.5,T2,2025-01-23,Nordeste,0.505681
1,A,464.85,3,Diego,1113.47,P5,5.7,T3,2025-01-14,Nordeste,0.252237
2,B,323.20,1,Iris,818.65,P7,6.8,T3,2025-01-30,Sul,0.376826
3,C,41.03,5,Elaine,67.09,P3,6.4,T3,2025-01-23,Sul,0.058488
4,A,110.95,2,Elaine,146.48,P1,8.0,T3,2025-01-07,Sudeste,0.060204
5,B,169.94,5,Hugo,461.99,P6,7.3,T1,2025-01-12,Norte,0.198137
6,B,23.53,3,Bruno,71.03,P7,6.5,T2,2025-01-22,Sul,0.027434
7,B,74.97,5,Bruno,194.69,P1,6.5,T2,2025-01-17,Nordeste,0.087409
8,B,165.90,5,Felipe,201.35,P1,6.7,T2,2025-01-07,Nordeste,0.193427
9,C,155.06,1,Ana,278.37,P7,7.2,T1,2025-01-17,Sudeste,0.221037
10,B,100.15,4,Iris,118.55,P4,7.7,T2,2025-01-22,Nordeste,0.116767
11,A,354.23,2,Bruno,708.07,P8,6.9,T3,2025-01-10,Nordeste,0.192212
12,A,481.71,3,Bruno,1352.28,P3,8.9,T3,2025-01-08,Sul,0.261386
13,C,150.68,1,Elaine,201.87,P7,4.4,T1,2025-01-14,Centro-Oeste,0.214794
14,A,431.17,4,Bruno,1098.15,P5,7.0,T3,2025-01-13,Nordeste,0.233962

57. conte `nunique` de `produto` por `cliente`.

In [240]:
df3.groupby('cliente')['produto'].nunique()

cliente
Ana       1
Bruno     5
Diego     1
Elaine    3
Felipe    1
Hugo      1
Iris      2
Name: produto, dtype: int64

58. calcule desvio-padrão de `nota` por turma.

In [242]:
df3.groupby('turma')['nota'].std()

turma
T1    1.646208
T2    0.521536
T3    1.051982
Name: nota, dtype: float64

59. calcule a média de valor por categoria usando `groupby('categoria')['valor'].mean()`.

In [244]:
media_por_categoria = df.groupby('categoria')['valor'].mean()
media_por_categoria

categoria
A    184.00
B    151.25
C     90.00
Name: valor, dtype: float64

60. conte quantas linhas há em cada categoria com groupby('categoria').size() e ordene do maior para o menor com `.sort_values(ascending=False)`.

In [246]:
df3.groupby('categoria').size().sort_values(ascending=False)

categoria
B    6
A    5
C    4
dtype: int64