In [1]:
#Biblioteca de visualização de dados CSV
import pandas as pd

In [2]:
base_playstation = pd.read_csv("../data/raw/playstation_data/game_details.csv")

In [3]:
base_playstation

,game_name,highest_price,release_date,genre,publisher,platform,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count,playstation_score,playstation_rating_count
0,Grand Theft Auto IV,€24.99,"Feb 15, 2012",Action / Shooter / Racing,Rockstar,PS3,98.0,86.0,8.3,5541.0,4.32,48904.0
1,Red Dead Redemption 2,€59.99,"Oct 26, 2018",Action / Adventure / Unique,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379257.0
2,Red Dead Online,€69.99,"Oct 29, 2018",Action / Adventure,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379346.0
3,Grand Theft Auto 3,€9.99,"Oct 4, 2012",--,Rockstar Games,PS3,97.0,56.0,8.0,2079.0,4.59,1437.0
4,Grand Theft Auto V,€69.99,"Sep 17, 2013",Action / Adventure,Rockstar Games,PS3,97.0,66.0,8.5,14322.0,4.65,40895.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3521,SENRAN KAGURA Burst Re:Newal,€39.99,"Jan 18, 2019",Action,Marvelous Europe Limited,PS4,65.0,19.0,5.6,65.0,4.69,2485.0
3522,Smash Hit Plunder,€29.99,"Oct 5, 2018",Arcade / Unique / Family,TRIANGULAR PIXELS LTD,PS4,NaN,NaN,NaN,NaN,4.29,7.0
3523,FOX n FORESTS,€19.99,"May 17, 2018",Action / Role playing games / Adventure,ASTRAGON ENTERTAINMENT GMBH,PS4,NaN,NaN,NaN,NaN,4.22,50.0
3524,DYNASTY WARRIORS 9,€69.99,"Mar 13, 2018",Action,Koei Tecmo Europe Ltd,PS4,NaN,NaN,NaN,NaN,3.49,12177.0
3525,Vostok Inc.,€14.99,"Sep 22, 2017",Action / Arcade / Casual,Badland Publishing,PS Vita,NaN,NaN,NaN,NaN,5,1.0

In [17]:
base_playstation.describe()

,release_date,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count
count,3526,879.000000,879.000000,880.000000,880.000000
mean,2018-10-01 03:46:39.546228224,77.470990,33.407281,6.650455,1053.763636
min,1970-01-01 00:00:00,65.000000,4.000000,0.000000,0.000000
25%,2016-04-12 00:00:00,69.000000,10.000000,6.400000,17.000000
50%,2019-10-24 12:00:00,76.000000,24.000000,7.400000,76.000000
75%,2022-09-22 00:00:00,85.000000,50.000000,8.100000,370.750000
max,2025-09-12 00:00:00,98.000000,145.000000,9.500000,165959.000000
std,NaN,9.003607,28.617623,2.399957,6258.632676

In [5]:
#sns.countplot(x = base_playstation['game_name']);

In [6]:
base_playstation.columns.to_list()

['game_name',
 'highest_price',
 'release_date',
 'genre',
 'publisher',
 'platform',
 'metacritic_score',
 'metacritic_rating_count',
 'metacritic_user_score',
 'metacritic_user_rating_count',
 'playstation_score',
 'playstation_rating_count']

In [7]:
#Tipo de dados das colunas e descrições
base_playstation.info()

base_playstation.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3526 entries, 0 to 3525
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   game_name                     3526 non-null   object
 1   highest_price                 3415 non-null   object
 2   release_date                  3526 non-null   object
 3   genre                         3526 non-null   object
 4   publisher                     3471 non-null   object
 5   platform                      3526 non-null   object
 6   metacritic_score              879 non-null    float64
 7   metacritic_rating_count       879 non-null    float64
 8   metacritic_user_score         880 non-null    float64
 9   metacritic_user_rating_count  880 non-null    float64
 10  playstation_score             3526 non-null   object
 11  playstation_rating_count      2557 non-null   float64
dtypes: float64(5), object(7)
memory usage: 330.7+ KB

(3526, 12)

In [8]:
for columns in base_playstation.columns:
    print(f'Coluna: {columns} - Valores únicos: {base_playstation[columns].nunique()}')

Coluna: game_name - Valores únicos: 3270
Coluna: highest_price - Valores únicos: 62
Coluna: release_date - Valores únicos: 1731
Coluna: genre - Valores únicos: 290
Coluna: publisher - Valores únicos: 767
Coluna: platform - Valores únicos: 15
Coluna: metacritic_score - Valores únicos: 34
Coluna: metacritic_rating_count - Valores únicos: 106
Coluna: metacritic_user_score - Valores únicos: 65
Coluna: metacritic_user_rating_count - Valores únicos: 420
Coluna: playstation_score - Valores únicos: 205
Coluna: playstation_rating_count - Valores únicos: 1541

In [9]:
base_playstation['game_name'].unique()

array(['Grand Theft Auto IV', 'Red Dead Redemption 2', 'Red Dead Online',
       ..., 'FOX n FORESTS', 'DYNASTY WARRIORS 9', 'Vostok Inc.'],
      shape=(3270,), dtype=object)

In [10]:
base_playstation[['game_name', 'genre', 'publisher', 'platform', ]] = base_playstation[['game_name', 'genre', 'publisher', 'platform']].astype('string')

In [11]:
base_playstation['playstation_rating_count'] = base_playstation['playstation_rating_count'].astype('object')

In [12]:
base_playstation.dtypes

game_name                       string[python]
highest_price                           object
release_date                            object
genre                           string[python]
publisher                       string[python]
platform                        string[python]
metacritic_score                       float64
metacritic_rating_count                float64
metacritic_user_score                  float64
metacritic_user_rating_count           float64
playstation_score                       object
playstation_rating_count                object
dtype: object

In [13]:
base_playstation['release_date'] = base_playstation['release_date'].astype('datetime64[ns]')

In [14]:
base_playstation

,game_name,highest_price,release_date,genre,publisher,platform,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count,playstation_score,playstation_rating_count
0,Grand Theft Auto IV,€24.99,2012-02-15,Action / Shooter / Racing,Rockstar,PS3,98.0,86.0,8.3,5541.0,4.32,48904.0
1,Red Dead Redemption 2,€59.99,2018-10-26,Action / Adventure / Unique,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379257.0
2,Red Dead Online,€69.99,2018-10-29,Action / Adventure,Rockstar Games,PS4,97.0,99.0,8.9,31932.0,4.74,379346.0
3,Grand Theft Auto 3,€9.99,2012-10-04,--,Rockstar Games,PS3,97.0,56.0,8.0,2079.0,4.59,1437.0
4,Grand Theft Auto V,€69.99,2013-09-17,Action / Adventure,Rockstar Games,PS3,97.0,66.0,8.5,14322.0,4.65,40895.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3521,SENRAN KAGURA Burst Re:Newal,€39.99,2019-01-18,Action,Marvelous Europe Limited,PS4,65.0,19.0,5.6,65.0,4.69,2485.0
3522,Smash Hit Plunder,€29.99,2018-10-05,Arcade / Unique / Family,TRIANGULAR PIXELS LTD,PS4,NaN,NaN,NaN,NaN,4.29,7.0
3523,FOX n FORESTS,€19.99,2018-05-17,Action / Role playing games / Adventure,ASTRAGON ENTERTAINMENT GMBH,PS4,NaN,NaN,NaN,NaN,4.22,50.0
3524,DYNASTY WARRIORS 9,€69.99,2018-03-13,Action,Koei Tecmo Europe Ltd,PS4,NaN,NaN,NaN,NaN,3.49,12177.0
3525,Vostok Inc.,€14.99,2017-09-22,Action / Arcade / Casual,Badland Publishing,PS Vita,NaN,NaN,NaN,NaN,5,1.0

In [15]:
base_playstation.isnull().sum()

game_name                          0
highest_price                    111
release_date                       0
genre                              0
publisher                         55
platform                           0
metacritic_score                2647
metacritic_rating_count         2647
metacritic_user_score           2646
metacritic_user_rating_count    2646
playstation_score                  0
playstation_rating_count         969
dtype: int64

In [16]:
#Porcentagem de valores nulos com 2 casas decimais
base_playstation.isnull().mean().round(4) * 100

game_name                        0.00
highest_price                    3.15
release_date                     0.00
genre                            0.00
publisher                        1.56
platform                         0.00
metacritic_score                75.07
metacritic_rating_count         75.07
metacritic_user_score           75.04
metacritic_user_rating_count    75.04
playstation_score                0.00
playstation_rating_count        27.48
dtype: float64

In [19]:
base_playstation.describe()

,release_date,metacritic_score,metacritic_rating_count,metacritic_user_score,metacritic_user_rating_count
count,3526,879.000000,879.000000,880.000000,880.000000
mean,2018-10-01 03:46:39.546228224,77.470990,33.407281,6.650455,1053.763636
min,1970-01-01 00:00:00,65.000000,4.000000,0.000000,0.000000
25%,2016-04-12 00:00:00,69.000000,10.000000,6.400000,17.000000
50%,2019-10-24 12:00:00,76.000000,24.000000,7.400000,76.000000
75%,2022-09-22 00:00:00,85.000000,50.000000,8.100000,370.750000
max,2025-09-12 00:00:00,98.000000,145.000000,9.500000,165959.000000
std,NaN,9.003607,28.617623,2.399957,6258.632676