In [16]:
import pandas as pd

In [17]:
base_imdb = pd.read_csv('../data/processed/title.csv')

In [18]:
base_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11949941,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11949942,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11949943,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11949944,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11949945,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [19]:
base_imdb.columns.to_list()

['tconst',
 'titleType',
 'primaryTitle',
 'originalTitle',
 'isAdult',
 'startYear',
 'endYear',
 'runtimeMinutes',
 'genres']

In [20]:
base_imdb.dtypes

tconst            object
titleType         object
primaryTitle      object
originalTitle     object
isAdult            int64
startYear         object
endYear           object
runtimeMinutes    object
genres            object
dtype: object

In [31]:
base_imdb[['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'genres']] = base_imdb[['tconst', 'titleType', 'primaryTitle', 'originalTitle', 'genres']].astype('string')

In [32]:
base_imdb[['titleType']] = base_imdb[['titleType']].astype('category')

In [33]:
base_imdb[['startYear', 'endYear', 'runtimeMinutes']] = base_imdb[['startYear', 'endYear', 'runtimeMinutes']].astype('string')

In [34]:
base_imdb.dtypes

tconst            string[python]
titleType               category
primaryTitle      string[python]
originalTitle     string[python]
isAdult                    int64
startYear         string[python]
endYear           string[python]
runtimeMinutes    string[python]
genres            string[python]
dtype: object

In [35]:
base_imdb

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892,\N,5,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,Short
...,...,...,...,...,...,...,...,...,...
11949941,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2009,\N,\N,Drama
11949942,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,Drama
11949943,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,Drama
11949944,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
11949945,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [36]:
base_imdb.isnull().sum()

tconst              0
titleType           0
primaryTitle       22
originalTitle      22
isAdult             0
startYear           0
endYear             0
runtimeMinutes      0
genres            610
dtype: int64

In [37]:
base_imdb.isnull().sum() * 100 / len(base_imdb)

tconst            0.000000
titleType         0.000000
primaryTitle      0.000184
originalTitle     0.000184
isAdult           0.000000
startYear         0.000000
endYear           0.000000
runtimeMinutes    0.000000
genres            0.005105
dtype: float64

In [38]:
base_imdb.isnull().mean() * 100

tconst            0.000000
titleType         0.000000
primaryTitle      0.000184
originalTitle     0.000184
isAdult           0.000000
startYear         0.000000
endYear           0.000000
runtimeMinutes    0.000000
genres            0.005105
dtype: float64

In [39]:
base_imdb.describe()

            isAdult
count  1.194995e+07
mean   1.337025e-01
std    1.414827e+01
min    0.000000e+00
25%    0.000000e+00
50%    0.000000e+00
75%    0.000000e+00
max    2.025000e+03

AttributeError: 'DataFrame' object has no attribute 'as_ordered'